*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

@media screen and (max-with: 425px) {
    html,
    body {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        overflow-y: hidden;
      }

      body {
        overflow-x: hidden;
      }
      
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

*,
::before,
::after {
    box-sizing: border-box;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

.cont {
    width: 734px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 425px) {
    .cont {
        width: 320px;
        padding: 0;
        margin: 0 auto;
    }
}


.intg>a {
    margin-right: 50px;
    color: aliceblue;
    font-family: "Montserrat", serif;
    font-size: 20px;
    transition: background-color 0.5s;
}

@media screen and (max-width: 425px) {
    .intg-a-1 {
        display: none;
    }

    .intg-a-2 {
        display: none;
    }

}


.intg>a:hover {
    color: beige;
}

.back {
    background-image: url(./img/71c5ff07af70b970331bc1a75430c280.jpg);
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding-bottom: 0px;
    gap: 0;

}

header {

    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-left: 5%;
    margin-right: 20%;
    color: white;
    font-family: "Monoton", serif;
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
}

@media screen and (max-width: 425px) {
    .logo {
        display: none;
    }
}

.label {
    color: white;
    font-family: "Monoton", serif;
    font-size: 90px;
    font-weight: 300;

}

.label-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    height: 200px;
}

.h3-hero {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-wrap {
    height: 239px;
}

.hero {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*--------------------------------------Information--------------*/

.inf {
    background-image: url(./img/Screenshot\ 2024-12-22\ 191247.png);
    background-color: #2b2d31;
    margin-top: -10px;
    background-repeat: no-repeat;
    height: 245px;
    height: 300px;
}

@media screen and (max-width: 425px) {
    .inf {
        background-image: none;
        background-color: #2b2d31;
    }
}

.main-text {

    font-family: "Montserrat", serif;
    font-size: 25px;
    width: 200px;
    text-align: right;
    margin-left: 514px;
    margin-top: 0px;
    color: white;
}


.btn-inf {
    border-radius: 50px;
    border-color: transparent;
    background-color: rebeccapurple;
    width: 200px;
    height: 50px;
    transition: background-color 0.5s;
}

.btn-inf:hover {
    background-color: mediumslateblue;
}

.btn-inf>a {
    color: white;
    font-family: "Montserrat", serif;
}

.btn-main-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}